.woocommerce {
  div.product form.cart .button {
    vertical-align: middle;
    margin-top: 25px;
    float: none;
    padding: 10px 25px;

    @include media-breakpoint-up(lg) {
      padding: 10px 67px;
    }
  }

  button.disabled.button.alt {
    background-color: #CCC;
    border-color: #CCC;
    color: $text-light;

    &:before {
      content: none;
    }
  }
}

.woocommerce-Button {
  @extend .btn;
  @extend .btn-primary;
}
