body.woocommerce-cart,
body.woocommerce-page {
  .page-container {
    padding-top: 25px;

    @include media-breakpoint-up(lg) {
      padding-top: 50px;
    }
  }
  
}

body.woocommerce.single-product div.product {
  display: block;
  text-align: center;

  @include media-breakpoint-up(lg){
    display: flex;
    gap: 3rem;
    text-align: left;
    justify-content: center;
  }
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: none;
  width: auto;
  clear: unset;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  float: none;
  width: auto;
  clear: unset;
}

.woocommerce-error {
  display: none;
}
