.woocommerce {
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    @extend .btn-primary;
  }

  div.product form.cart {
    display: block;
  }

  .pricingcontainer {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .pricinginput {
    margin-left: 10px;
    display: flex;
    align-items: center;

    input {
      @extend .form-control;
    }

    span.popfwc-currency-symbol {
      font-size: 1.45rem;
      padding-right: 5px;
    }
  }

  .minimumprice {
    display: block;
    font-size: 0.9rem;
  }

  div.product form.cart .variations select {
    @include media-breakpoint-up(lg){
      margin-right: 1em;
    }
  }

  table.variations {
    tr,
    td.value {
      display: flex;
    }
    select {
      @extend .form-select;
    }
  }
}
