.hero-container {
  padding: 7rem 0;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  
  @include media-breakpoint-up(lg) {
    padding: 15rem 0;
    background-size: cover !important;
  }

  .container {
    max-width: 1000px;
  }

  h1 {
    color: $text-light;
    text-shadow: 2px 2px 2px $text;
    text-align: center;
  }

  .text {
    color: $text-light;
    text-shadow: 1px 1px 1px $text;
    font-size: 1.4rem;
    text-align: center;
  }

}
