.btn {
  border-radius: 0;
  border: 0;
  background-color: darken($primary, 10%);
  text-transform: uppercase;
  font-weight: bold;
  color: $text-light;
  
  &:visited {
    background-color: darken($primary, 10%) !important;
    color: $text-light !important;
  }
  &:hover,
  &:focus {
    background-color: lighten($primary, 20%) !important;
    color: $text-light !important;
  }
}
