.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
}

#user_login,
#user_pass {
  @extend .form-control;
}

#rememberme {
  @extend .form-check-input;
}

#wp-submit {
  @extend .btn;
  @extend .btn-primary;
}
