.content-info {
  background: $text-light;
  color: $secondary;
  text-align: center;
  padding: 100px 0 20px 0;

  h4 {
    text-align: left;
  }

  .col {
    position: relative;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .footer-nav-container {
    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
      a,
      a:visited {
        color: $secondary;
        
        &:hover {
          color: $primary;
        }
      }
    }

  }
}

ul.social {
  width: 100%;
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;

  li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-nav {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    text-align: left;
    a {
      @extend .font-subtitle;

      color: $secondary;
      text-decoration: none;
    }
  }
}

.copyright {
  font-size: 0.8rem;
}
