body.header-not-at-top div#app {
  padding-top: 190px;
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 800px;
  left: 0;
}

header.banner {
  position: relative;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  z-index: 999;

  .brand {
    @extend .font-title;
    font-size: 3rem;
    color: $primary;
    text-decoration: none;
    text-shadow: 3px 3px 4px rgb(0 0 0 / 47%);

    img {
      max-width: 10rem;
      height: auto;
    }
  }

  .banner-inner {
    padding: 40px 25px;
  }
}

.navbar {
  position: static;
}

.navbar-toggler {
  position: absolute;
  right: 15px;

  &:focus {
    box-shadow: 3px 3px 3px $secondary;
    
  }
}

.navbar-collapse {
  position: absolute;
  right: 0;
  top: 145px;
  background: $text-light;
  min-width: 322px;
  border-right: $primary 4px solid;
  border-left: $secondary 4px solid;
  border-top: $secondary 1px solid;
  border-bottom: $secondary 1px solid;

  @include media-breakpoint-up(xl) {
    position: relative;
    top: 0;
    border: none;
  }
}

.navbar-nav {
  flex-direction: column;

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    justify-content: center;
  }
}

ul#menu-main {

  @include media-breakpoint-up(xl) {
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
  }

  li {
    display: block;
    margin: 0 5px;

    @include media-breakpoint-up(xl) {
      margin: 0 15px;
    }

    &:last-child {
      margin-right: 0;
    }


    a.nav-link {
      @extend .font-subtitle; 

      white-space: nowrap;
      color: $secondary;
      font-size: 0.9rem;

      &:visited {
        color: $secondary;
      }

      &:hover {
        color: $primary;
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.1rem;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 1.4rem;
      }
    }
    ul.dropdown-menu {
      li {
        margin: 0 5px;

        a {
          margin: 0;
        }
      }
    }
  }
}


.strong {
  font-weight: bolder;
}

body.header-not-at-top {
  header.banner {
    transition: all 0.4s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $text-light;
    z-index: 3;
    margin: 0;
    padding: 0 30px;

    .banner-inner {
      padding: 15px 0 15px 0; 
    }

    .brand {
      img {
        max-width: 4rem;
      }
    }
  }
  .navbar-collapse {
    top: 75px;

    @include media-breakpoint-up(xl) {
      position: relative;
      top: 0;
    }
  }
}

#usermenu .dropdown-menu {
  @include media-breakpoint-up(xl) {
    left: -100px;
  }
}
