//body.post-type-archive-<post-type> {
//  #main .page-header {
//    margin-bottom: 25px;
//
//    @include media-breakpoint-up(lg) {
//      margin-bottom: 50px;
//    }
//  }
//}

.page-header {
  padding: 5rem 0;
  background: $primary;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding: 10rem 0;
  }

  h1 {
    @extend .font-title;
    color: $text-light;
    text-transform: capitalize;
    font-size: 5rem;
    text-shadow: 3px 3px 4px rgb(0 0 0 / 47%);
  }
  
  .container {
    position: relative;
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%; background: rgb($text, 0.29);
  }

  &.pageheader-space {
    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }
}

.arctopmessage {
  padding: 3rem 0;
}

.navigation.posts-navigation {
  @extend .container;

  .nav-links {
    display: flex;
    justify-content: space-between;
  } 
  .nav-previous a,
  .nav-next a {
    @extend .btn;
    @extend .btn-primary;
  }
}

