body.blog {
  .media-thumbnail {
    aspect-ratio: 3 / 2;
  }
}

body.single-post {
  .page-header {
    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }
}

// archives
.postgrid {
  @media (min-width: 1000px) {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr)
  }
  
  article {
    position: relative;
    margin-bottom: 3rem;

    @media (min-width: 1000px) {
      margin-bottom: 0;
    }

    img {
      margin-bottom: 15px;
    }
  }

  a {
    span.coverall {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .entry-content {
    margin-top: 25px !important;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}

//single
.post-container {
  article {
    header {
      font-size: 0.9rem;
    }

    .entry-content {
      margin-top: 50px;
      line-height: 1.4rem;
      font-size: 1.2rem;
    } 
  } 
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
	padding: 3px;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
	padding: 3px;
}

.posts-navigation {
  @extend .container;
  margin-top: 25px;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    width: 100% !important;

    li {
      border: 1px solid darken($secondary, 10%);
      padding: 5px 15px;
      border-radius: 5px;
      position: relative;

      a {
        text-decoration: none;

        span {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &.ellipses {
        border: 0;
      }
      &.active {
        background: $secondary; 
        a {
          color: $text-light;
        }
      }
      &.nextpostslink,
      &.previouspostslink {
        flex-grow: 1;
        border: 0;
      }
      &.nextpostslink {
        text-align: right;
      }
      &.previouspostslink {
        text-align: left;
      }
    }
  }
}
