// @import url("https://some-custom-font-url");

// @font-face {
//   font-family: "some custom font family";
//   src:
//     url("../../fonts/some-custom-font/font-file.woff2") format("woff2"),
//     url("../../fonts/some-custom-font/font-file.woff") format("woff");
// }


.font-title {
  font-family: serif;
  text-transform: capitalize;
}

@mixin font-title {
  font-family: serif;
  text-transform: capitalize;
}

.font-subtitle {
  font-family: sans-serif;
  text-transform: uppercase;
}

@mixin font-subtitle {
  font-family: sans-serif;
  text-transform: uppercase;
}

.font-body {
  font-family: sans-serif;
}

@mixin font-body {
  font-family: sans-serif;
}


a,
a:visited {
  color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .font-title;
  color: $secondary;
}

.page-header h1 {
  text-align: center;
  margin: 15px 0 50px 0;
}

body {
  @extend .font-body;
  color: $secondary;
  line-height: 2.1rem;
  font-size: 1.1rem;
}

// /* Text meant only for screen readers. */
// /* https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

img {
  max-width: 100%;
  height: auto;
}

// add class to plain text flex content that doesn't have backgrounds
.flex-container {
  padding-top: 25px;

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
  }
}
