$primary: #c40d3c;   // red
$secondary: #0e3456; // blue 
$text: #222;         // dark grey
$text-light: #fff;   // white 

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "text": $text,
  "text-light": $text-light
) !default;
